<div id="u-edit-div">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div id="gen-edit">
      <div id="gen-edit1">
        <div id="u-edit-show-avatar" class="field">
          <%= user_avatar(current_user, size=256) %>
        </div>

        <div id="edit-avatar" class="field">
          <%= f.file_field :avatar, class: "choose-pic" %>
        </div>
      </div>

      <div id="gen-edit2">
        <div id="edit-bio-field" class="field">
          <%= f.label :bio, id: "bio-label" %>
          <%= f.text_area :bio, id: "bio-text-field" %>
        </div>
      </div>
    </div>

    <% unless current_user.provider == "facebook" %>
      <div id="gen-edit3">

        <div id="edit-name-div">
          <div class="field">
            <%= f.label :first_name, class: "u-e-label" %><br />
            <%= f.text_field :first_name, class: "input-edit-fields1" %>
          </div>

          <div class="field">
            <%= f.label :last_name, class: "u-e-label" %><br />
            <%= f.text_field :last_name, class: "input-edit-fields1" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :email, class: "u-e-label" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "input-edit-fields2" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div id="p-conf-div">
          <div class="field">
            <%= f.label :password, class: "u-e-label" %> <i , class="u-e-label">(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "input-edit-fields1" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "u-e-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-edit-fields1" %>
          </div>

        </div>

        <div class="field">
          <%= f.label :current_password, class: "u-e-label" %> <i , class="u-e-label">(Only if you want to change your password)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "input-edit-fields2" %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Update", id: "u-updt-submit" %>
    </div>
  <% end %>

  <div id="cancel-account">
    <p id="unhappy">Unhappy?</p>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id: "cancel-acc-btn" %>
  </div>
</div>