<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>User</th>
      <th>Friendship status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |another_user| %>

      <% next if current_user.id == another_user.id %>
      <tr>
        <td>
          <%= user_avatar(another_user, size=40) %>
        </td>
        <td>
          <%= link_to another_user.first_name + " " + another_user.last_name, another_user %>
        </td>

        <% if friendship = current_user.friendships.find_by(friend_id: another_user)%>
            <% if friendship.pending? %>
              <td>Request: Pending</td>
            <% else %>
              <td>Friend</td>
            <% end %>
        <% elsif friendship = another_user.friendships.find_by(friend_id: current_user)%>
          <td>
            <%= link_to "Accept Friend Request", friendship_path(id: another_user), method: :patch %>
            <%= link_to "Decline Friend Request", friendship_path(id: another_user), method: :delete %>
          </td>
        <% else %>
          <td>
            <%= link_to 'Friend Request', friendships_path(friend_id: another_user), method: :post %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, inner_window: 1, outer_window: 0 %>