<div id="u-index-div">
  <% @users.each do |another_user| %>
  <% next if current_user.id == another_user.id %>

    <div id="user-index-container">

      <%= link_to another_user, id: "au-link" do %>
        <%= user_avatar(another_user, size=100) %>
      <% end %>

      <div id="u-index-right">
        <%= link_to another_user.first_name + " " + another_user.last_name, another_user, id: "u-index-linkto-user" %>

        <% if friendship = current_user.friendships.find_by(friend_id: another_user)%>
            <% if friendship.pending? %>
              <p id="u-index-pending" class="p-margin">Request Pending</p>
            <% else %>
              <p id="u-index-friend" class="p-margin">Friend</p>
            <% end %>
        <% elsif friendship = another_user.friendships.find_by(friend_id: current_user)%>
          <div id="u-index-fr-options">
            <%= link_to "Accept Friend Request", friendship_path(id: another_user), method: :patch, id: "u-index-accept" %>
            <%= link_to "Decline Friend Request", friendship_path(id: another_user), method: :delete, id: "u-index-decline" %>
          </div>
        <% else %>
            <%= link_to '+Add Friend', friendships_path(friend_id: another_user), method: :post, class: "u-index-fr" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="paginate-pages-div">
  <%= will_paginate @users, inner_window: 1, outer_window: 0, :previous_label => '◀', :next_label => '▶' %>
</div>