<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friendship status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |another_user| %>

      <% next if current_user.id == another_user.id %>
      <tr>
        <td>
          <%= link_to another_user.first_name + " " + another_user.last_name, another_user %>
        </td>

        <td>
          <% if friendship = current_user.friendships.find_by(friend_id: another_user)%>
            <%= friendship.pending? ? "Request: Pending" : "Friend" %>
          <% elsif friendship = another_user.friendships.find_by(friend_id: current_user)%>
            <%= link_to "Accept Friend Request", friendship_path(id: another_user), method: :patch %>
            <%= link_to "Decline Friend Request", friendship_path(id: another_user), method: :delete %>
          <% else %>
            <%= link_to 'Friend Request', friendships_path(friend_id: another_user), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>