<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Add/Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |another_user| %>

    <% next if current_user.id == another_user.id %>
      <tr>
        <td><%= another_user.first_name %> <%= another_user.last_name %></td>

        <td>
          <% if current_user.is_friend?(another_user) %>
            <%= link_to "Remove Friend", removefriend_path(user_id: another_user.id), method: :delete %>
          <% else %>
            <%= form_for current_user.friendships.build(friend: another_user) do |f| %>
              <%= f.hidden_field :friend_id %>
              <%= f.submit "ADD FRIEND" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>