<h1>User Show</h1>

<h3><%= @user.first_name + " " + @user.last_name %></h3>

<% if @user.friends.find_by(id: current_user) %>
  <% friendship = Friendship.where(user_id:@user).find_by(friend_id:current_user)  %>
  <% if friendship.pending? %>
    <div>
      <%= link_to "Accept Friend Request", friendship_path, method: :patch %>
      <%= link_to "Decline Friend Request", friendship_path, method: :delete %>
    </div>
  <% else %>
    <div>
      <%= link_to "Unfriend", friendship_path, method: :delete %>
    </div>
  <% end %>
<% elsif @user != current_user %>
  <div>
    <%= link_to 'Send Friend Request', friendships_path(friend_id:@user), method: :post %>
  </div>
<% end %>

<% if @user.posts.exists? %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>Content</th>
        <% if current_user.id == @user.id %>
          <th>Edit</th>
          <th>Delete</th>
        <% end %>
        <th># of Comments</th>
      </tr>
    </thead>
    <tbody>
      <% @user.posts.each do |post| %>
        <tr>
          <td><%= @user.first_name + " " + @user.last_name %></td>
          <td><%= link_to post.title, post %></td>
          <td><%= post.body %></td>
          <% if current_user.id == post.user_id %>
            <td><%= link_to "Edit", edit_post_path(post) %></td>
            <td><%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <td><%= post.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif current_user.id == @user.id %>
  <p>You haven't posted anything</p>
  <p>Add a post <%= link_to "here", new_post_path %>.</p>
<% else %>
  <p><%= @user.first_name + " " + @user.last_name + " hasn't posted yet." %></p>
<% end %>

<% if current_user.id == @user.id %>
  <%= link_to "New Post", new_post_path %>
<% end %>
<br>
<%= link_to "Back", :back %>