<div id="login-container">
  <div id="main-li">
    <h2 id="login-title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "l-i-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "l-i-fields" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "l-i-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "l-i-fields" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div id="r-div" class="field">
          <%= f.check_box :remember_me, id: "remember-check" %>
          <%= f.label :remember_me, id: "remember-label" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", id: "login-submit" %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
