<h3>
  <%= @post.likes.count %> <%= "Like".pluralize(@post.likes.count) %>
</h3>


<% if @post.likes.include?(Like.find_by(likeable_id: @post.id, user_id: current_user.id, post_id: @post.id)) %>
  <%= form_for destroy_like_path(id: params[:id]), method: :delete do |f| %>
    <%= f.submit "Unlike" %>
  <% end %>
<% else %>
  <%= form_for create_like_path(id: params[:id]), method: :post do |f| %>
    <%= f.submit "Like" %>
  <% end %>
<% end %>