<h1>Post Index</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Body</th>
      <th># of Comments</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to User.find(post.user_id).first_name + " " + User.find(post.user_id).last_name, User.find(post.user_id) %>
        </td>
        <td><%= link_to post.title, post %></td>
        <td><%= post.body %></td>
        <td><%= post.comments.count %></td>
        <td><%= post.likes.count %></td>
        <% if current_user.id == post.user_id %>
          <td><%= link_to "Edit", edit_post_path(post) %></td>
          <td><%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Post", new_post_path, class: "test-link" %>
<br>
<%= link_to "All users", users_path, class: "test-link" %>
<br>
<%= link_to "Notifications", notifications_url, class: "test-link" %>

<% if notifications.empty? %>
  <h3>Notifications empty</h3>
<% else %>
  <h3>
    You have <%= notifications.count %> new <%= 'notification'.pluralize(notifications.count) %>!
  </h3>
<% end %>