<h1>Show Post</h1>

<h3>
  <strong>User: </strong>
  <%= @user.email %>
</h3>

<h3>
  <strong>Title: </strong>
  <%= @post.title %>
</h3>
<p>
  <strong>Content: </strong>
  <%= @post.body %>
</p>

<% if current_user.id == @post.user_id %>
  <%= link_to "Edit", edit_post_path(@post) %><br>
  <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<br>

<%= link_to "All Posts", posts_path %>

<br>

<%= render partial: 'comments/form' %>
<%= render partial: 'posts/comment', collection: @post.comments %>