<h1>Show Post</h1>

<%= user_avatar(@user, size=100) %>

<h3>
  <strong>User: </strong>
  <%= link_to @user_name, User.find(@post.user_id) %>
</h3>

<h3>
  <strong>Title: </strong>
  <%= @post.title %>
</h3>
<p>
  <strong>Content: </strong>
  <%= @post.body %>
</p>
<br>
<% if @post.image.attached? %>
  <%= image_tag @post.image.variant(resize: '300x300!') %><br>
<% end %>

<h2 id="like_count">
  <%= like_count_text %>
</h2>
<h2>Likes</h2>

<% @index_like_exists = Like.where(post_id: @post.id, user_id: current_user.id) == [] ? "Like" : "Unlike" %>

<%= link_to @index_like_exists, like_path(id: @post.id), method: :put, remote: true, id: "like_link" %>

<% if @post.created_at == @post.updated_at %>
  <h4>Posted <%= time_ago_in_words(@post.created_at, include_seconds: true)%> ago</h4>
  <h4>No edit</h4>
<% else %>
  <h4>Posted <%= time_ago_in_words(@post.created_at, include_seconds: true)%> ago</h4>
  <h4>Edited <%= time_ago_in_words(@post.updated_at, include_seconds: true)%> ago</h4>
<% end %>
<br>
<% if current_user.id == @post.user_id %>
  <%= link_to "Edit", edit_post_path(@post) %><br>
  <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<br>

<%= link_to "All Posts", posts_path %>
<br>
<% unless @post.comments.count == 0 %>
<h3>Comments (<%= @post.comments.count %>)</h3>
<% else %>
  <h3>No comments</h3>
<% end %>
<br>

<%= render partial: 'comments/form' %>
<%= render partial: 'posts/comment', collection: @post.comments %>