<div id="navbar">
  <a href=<%= posts_path %>>
    <img src="/images/logo.png" width="300" height="80">
  </a>

  <% if user_signed_in? %>
    <div id="quick-links">
      <h3 class="qlinks">
        <%= link_to "Notifications".pluralize(notifications.count) + "(#{notifications.count})", notifications_url %>
      </h3>
      <h3 class="qlinks">
        <%= link_to "All users", users_path %>
      </h3>
      <h3 class="qlinks">
        <%= link_to "Global feed", posts_path %>
      </h3>
      <h3 class="qlinks">
        <%= link_to "Friend feed", friend_feed_path %>
      </h3>
      <h3 class="qlinks">
        <%= link_to "New Post", new_post_path %>
      </h3>
      <h3 class="qlinks">
        <%= link_to "Edit Account", edit_user_registration_path %>
      </h3>
    </div>

    <div id="profile-nav-links">
      <div></div>

      <h3 id="logged-as">Logged in as: 
        <%= link_to current_user.first_name + " " + current_user.last_name, User.find(current_user.id) %>
      </h3>
      <h3>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, id: "logout-link" %>
      </h3>
    </div>
  <% else %>
    <a href=<%= new_user_session_url %>>Log in</a>
  <% end %>
</div>